.banner-image {
    width: 710px;
    height: 100vh;
    background-color: var(--primary-color);
}

p {
    margin: 0;
}
.big-circle  {
padding: 0;
 width: 208px;
 height: 208px;
 border-radius: 50%;
 background-color: #DF9BE0;
}
.second-circle {
 width: 104px;
 height: 104px;
 border-radius: 50%;
 background-color: #DF9BE0;
 position: relative;
 top: 50px;
 left: 432px;
}
.last-circle {
 width: 104px;
 height: 104px;
 border-radius: 50%;
 background-color: #D9D9D9;
 position: relative;
 top: 200px;
 left: 605px;
}
img {
 position: absolute;
 bottom: 0px;
 width: 710px;
height: 769px;
}